streamlit==1.35.0

crewai==0.30.11

langchain==0.1.20
langchain-community==0.0.38

sentence-transformers==2.7.0
transformers==4.41.1

faiss-cpu==1.7.4

huggingface_hub==0.23.2

python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3

pydantic==2.7.1